.container {
    width: 100%;
    max-width: 400px; /* Ajusta el ancho máximo según tus preferencias */
    margin: 0 auto; /* Centra el formulario horizontalmente */
    padding: 20px; /* Agrega espacio interno para mayor legibilidad */
}

.full-width {
    width: 100%;
}